h1{
    color: #000;
}

#texto01-slide{
    color: #353535;
}

h2{
    color: rgb(255, 255, 255);
}

#banner{
    background-image: url(../src/assets/index/banner-1.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#bannerCaja{
    background-color: white;
}

#text-gray{
    color: #353535;
}

.bt-primary{
    background-color: #A53860;
    opacity: 100%;
    color: white;
    padding-left: 4rem;
    padding-right: 4rem;
    padding-top: .6rem;
    padding-bottom: .6rem;
    border-radius: .8rem;
    transition: 0.3s;
    border: none;
}

.bt-primary:hover{
    background-color: #DA627D;
}